@{
    Layout = "_Layout";
}
<br />
<h1 class="text-center">Surprise! This page is all about me.</h1>
<br />
<div class="align-self-sm-center">
    <img class="w-50 h-auto rounded mx-auto d-block" 
         src="~/images/SolemnEvan.jpg" alt="This is me staring solemnly into the distance" title="Very solemn picture" />
</div>
<br />
<h4 class="text-center">Where I Grew Up</h4>
<br />
<p class="text-center">I grew up in a tiny, country town in the middle of nowhere East Texas, otherwise known as Trinidad. When I say tiny, I mean comedically tiny. There was only one stoplight, and the only tourist destinations were a Dairy Queen, Dollar General, and Texaco. </p>
<br />
<hr class="hr-danger" />
<br />
<div class="align-self-sm-center">
    <img class="w-50 h-auto rounded mx-auto d-block"
         src="~/images/Brother.jpg" alt="This is me with my brother, Ethan" title="Two brothers happy as can be" />
</div>
<br />
<h4 class="text-center">Bottom of the Family Tree</h4>
<br />
<p class="text-center">At the very bottom of our family tree is my siblings and me. I am the oldest of four siblings, and all of our names start with the letter "E". Pictured above is myself and my younger brother, Ethan, on his birthday this past summer. Fun fact, his birthday is on July 4th, which meant he always had the best birthday parties growing up. My birthday is on November 15th, which meant I did not get the water parks or fireworks for my birthday. Instead, I got to be a scorpio, which is the gift that keeps on giving.</p>
<br />
<hr class="hr-danger" />
<br />
<div class="align-self-sm-center">
    <img class="w-50 h-auto rounded mx-auto d-block"
         src="~/images/BluePic.jpg" alt="A picture of me in some blue light" title="Litle boy blue" />
</div>
<br /> 
<h4 class="text-center">Why UT? Why MIS?</h4>
<br />
<p class="text-center">When I was applying to schools, I only applied to three. They were all in Texas, and all within an hour of each other. I knew that if I were going to be anywhere in Texas, I wanted to be in Austin. I originally applied as a psychology major, but switched to business the summer before coming to Austin. Before deciding on MIS, I had planned to declare management or marketing. This changed after I took my first MIS class. I struggled and I struggled hard. I was not a technological person, and at the time I could hardly type on a keyboard. I was eventually able to find my footing and claw my way towards a B-. Even through all the struggling, I found myself enjoying the class, learning the content, and taking notes (which I had not done in years). Since then, I have enjoyed the challenge of every puzzle MIS has thrown my way.</p>
<br />
<hr class="hr-danger" />
<br />
<div class="align-self-sm-center">
    <img class="w-50 h-auto rounded mx-auto d-block"
         src="~/images/UpsideDown.jpg" alt="This is a picture of me upside down, perhaps break dancing?" title="Evan but make it upside down" />
</div>
<br />
<h4 class="text-center">The Fun Side of a Business Student</h4>
<br />
<p class="text-center">McCombs is not all work and no play. When I'm not working on coding a website about myself, I spend my time exploring many hobbies and interests, as well as exploring around Austin. Maybe you have seen me taking a yoga class at Black Swan. Or you could have seen me painting on the tower lawn. If I'm not dancing the night away, I can be found in my kitchen trying some new recipes. If all else fails, you can probably find me practicing my handstand som ewhere around campus, usually inside McCombs.'</p>
<br />
<hr class="hr-danger" />
<br />
<div class="text-center">
    <div class="btn-group-lg">
        <a asp-action="Index" class="btn btn-info">Home</a>
        <a asp-action="AFewFavs" class="btn btn-info">My Favorite Things</a>
        <a asp-action="Resume" class="btn btn-info">Evan's Resume</a>
    </div>
</div>
<br />
<hr class="hr-danger" />