@{
    Layout = "_Layout";
}
<h1 class="text-center">My Favorite Things</h1>
<p class="text-center">A Song From "The Sound of Evan"</p>
<hr class="hr-danger" />
<br />
<p class="text-center">Let's do some yoga and then go lift heavy</p>
<p class="text-center">Maybe then after we'll read quantum theory</p>
<p class="text-center">I am a scorpio so some think I'm mean</p>
<p class="text-center">These are a few of my favorite things</p>
<br />
<hr class="hr-danger" />
<br />
<div class="align-self-sm-center">
    <img class="w-50 h-auto rounded mx-auto d-block"
         src="~/images/BevoWall.jpg" alt="I found this amazing Bevo Wall in west campus and couldn't resist takung a picture'" title="Evan and his longhorn friend" />
</div>
<br />
<hr class="hr-danger" />
<br />
<p class="text-center">Just made some pasta do you want to try it?</p>
<p class="text-center">Saw a cute bracelet, don't doubt that I'll buy it</p>
<p class="text-center">Dancing with friends, can make the time fly</p>
<p class="text-center">Let's go to the park and watch the night sky</p>
<br />
<hr class="hr-danger" />
<br />
<div class="align-self-sm-center">
    <img class="w-50 h-auto rounded mx-auto d-block"
         src="~/images/CuteEvanPic.jpg" alt="I took this picture in the middle of a meeting. I would not reccomend doing this, but the lighting was so nice." title="Just a business boy feeling cute" />
</div>
<br />
<hr class="hr-danger" />
<br />
<p class="text-center">Have you listened to Beyonce's new album?</p>
<p class="text-center">I've got lots of song recs, more than you can fathom</p>
<p class="text-center">In fact I made a playlist with songs just for you</p>
<p class="text-center"><a href="https://open.spotify.com/playlist/1ZviORuMf5To4aYdRr5LjP?si=mWQpH_0_R5yoNUkcOmquwQ">My playlist</a> has lots of songs to listen to</p>
<br />
<hr class="hr-danger" />
<br />
<div class="align-self-sm-center">
    <img class="w-50 h-auto rounded mx-auto d-block"
         src="~/images/CuteFlowerWall.jpg" alt="This wall was at a mochinut in Lewisville, and it was so pretty I just had to take a picture" title="A wall of flowers and neon lights" />
</div>
<br />
<hr class="hr-danger" />
<br />
<p class="text-center">When the day's long</p>
<p class="text-center">And all my code's wrong</p>
<p class="text-center">And it's got me feeling down</p>
<p class="text-center">I just get on my phone and text all of my friends</p>
<p class="text-center">Ask if they want to go downtown! </p>
<br />
<hr class="hr-danger" />
<br />
<div class="align-self-sm-center">
    <img class="w-50 h-auto rounded mx-auto d-block"
         src="~/images/Friends.jpg" alt="This is me with some of my best friends" title="Happy friends" />
</div>
<br />
<hr class="hr-danger" />
<br />
<div class="align-self-sm-center">
    <img class="w-50 h-auto rounded mx-auto d-block"
         src="~/images/Friend2.jpg" alt="This is me with some more of my friends" title="More Friends" />
</div>
<br />
<hr class="hr-danger" />
<br />
<div class="align-self-sm-center">
    <img class="w-50 h-auto rounded mx-auto d-block"
         src="~/images/Friends3.jpg" alt="This is the last picture of my friends and me for this page" title="Friends, the trifecta" />
</div>
<br />
<hr class="hr-danger" />
<br />
<div class="text-center">
    <div class="btn-group-lg">
        <a asp-action="Index" class="btn btn-info">Home</a>
        <a asp-action="About" class="btn btn-info">About Me</a>
        <a asp-action="Resume" class="btn btn-info">Evan's Resume</a>
    </div>
</div>
<br />
<hr class="hr-danger" />